#close {
    float:right;
    display:inline-block;
/*     padding:2px 5px; */
/*     background:#ccc; */
}

#close:hover {
        float:right;
        display:inline-block;
/*         padding:2px 5px; */
/*         background:#ccc; */
    color:#fff;
    }
.transbox {
   opacity:0.5;
   zindex:-50;
}

input.cropit-image-input {
  visibility: hidden;
}
  
  .fileUpload {
    position: relative;
    overflow: hidden;
    margin: 10px;
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
   	cursor: pointer; 
	opacity: 0;
    filter: alpha(opacity=0);
}
 
   #third
   {
/*      display: none; */
   }
   #bookmarkpage
   {
/*     display: none; */

   }

    #businessmessage
    {
/*       display: none; */
    }
    #jobboard
    {
/*       display: none; */
    }
   #testingdropdown{
/*     display: none; */
   }
   
   #useredit
   {
/*     display: none; */
   }
   .resbasictitlesection
   {
/*     padding-top: 160px; */
   }
   .reslocationsearch
   {
/*     display: none; */
   }
   .testingfileupload
   {
     margin-left:60px; 
/* 		width: 250px; */
/* 		height: 250px; */
   }
   
    @media(max-width: 1908px){
      .resbasictitlesection
   {
    padding-top: 60px;
   }
    }
   
 
    }
    @media(max-width: 1868px){
      .resbasictitlesection
   {
    padding-top: 60px;
   }
    }
 
   @media(max-width: 1860px){


 .resbasictitlesection
   {
    padding-top: 60px;
   }
  }
   @media(max-width: 1853px){

 }
 @media(max-width: 1700px){
   .testingfileupload
   {
    margin-left:60px;
   }
 }
   @media(max-width: 1624px){
 margin-left: 414px;
    }
  .resbasictitlesection
   {
    padding-top: 60px;
   }
    .testingfileupload
   {
    margin-left:50px;
   }
  }
  @media(max-width:1554px ){
     .testingfileupload
   {
    margin-left:40px;
   }
  }
  @media(max-width: 1500px){
      .testingfileupload
   {
    margin-left:30px;
   }
  }
  @media(max-width: 1450px){
      .testingfileupload
   {
    margin-left:20px;
   }

  }
  @media(max-width: 1408px){
  .resbasictitlesection
   {
    padding-top: 60px;
   }
       .testingfileupload
   {
    margin-left:10px;
   }
  }
  @media(max-width: 1357px){
        .testingfileupload
   {
    margin-left:10px;
   }
  }
   @media(max-width: 1247px){
  .resbasictitlesection
   {
    padding-top: 60px;
   }
       .testingfileupload
   {
    margin-left:20px;
   }
  }
 @media(max-width: 960px){
      .testingfileupload
   {
    margin-left:210px;
   }
 }
  @media(max-width: 1150px){
   .resbasictitlesection
   {
    padding-top: 60px;
   }
  }
   
  
  
   @media(max-width: 990px){
.resbasictitlesection
   {
    padding-top: 0px;
   }
   .reslocationsearch
   {
    display: block;

   }

  }
   @media(max-width: 768px){
     .testingfileupload
   {
    margin-left:170px;
   }
  }
  @media(max-width: 678px){
       .testingfileupload
   {
    margin-left:150px;
   }
  }
  @media(max-width: 608px){
       .testingfileupload
   {
    margin-left:130px;
   }
  }
   @media(max-width: 568px){
       .testingfileupload
   {
    margin-left:90px;
   }
  }
  @media(max-width: 494px){
       .testingfileupload
   {
    margin-left:60px;
   }
  }
  @media(max-width: 494px){
       .testingfileupload
   {
    margin-left:40px;
   }
  }
  @media(max-width: 399px){
       .testingfileupload
   {
    margin-left:20px;
   }
  }
   @media(max-width: 364px){
       .testingfileupload
   {
    margin-left:10px;
   }
  }
  @media(max-width: 319px){
    .material-icons.md-light
    {
     width: 1%;
    }
         .testingfileupload
   {
    margin-left:0px;
   }
  }

















.colorclass{
	border-bottom:1px solid #f0f0f0;
	padding:5px;
	text-align:center;
	text-decoration:none;
	color : #222;
}

.colorclass:hover{
	color : #222;
	text-decoration:none;
}

 #adminsidebarmenu
{
  width:100%;background-color:#f0f0f0;color:#222;border-radius:0px;margin-top:0px;height:40px;border: 1px solid #fff;
}
#sidebarsections
{
  width:100%;background-color:#f0f0f0;color:#222;border-radius:0px;margin-top:0px;border: 1px solid #fff;
}

.hide {
    opacity:0;
/*     left:-100%; */
}
.show {
    opacity:1;
/*     left:0; */
}

.ui-helper-hidden-accessible{
	display : none;
}
.ui-menu-item{
	display : none;
}

.search1 {
/*     position: relative; */
    margin: 0 auto;
/*     width: 300px; */
}

.search1 input {
    height: 26px;
    width: 100%;
    padding: 0 12px 0 25px;
/*     background: white url("http://cssdeck.com/uploads/media/items/5/5JuDgOa.png") 8px 6px no-repeat; */
    border-width: 1px;
    border-style: solid;
    border-color: #a8acbc #babdcc #c0c3d2;
/*     border-radius: 13px; */
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
/*     -webkit-box-shadow: inset 0 1px #e5e7ed, 0 1px 0 #fcfcfc; */
/*     -moz-box-shadow: inset 0 1px #e5e7ed, 0 1px 0 #fcfcfc; */
/*     -ms-box-shadow: inset 0 1px #e5e7ed, 0 1px 0 #fcfcfc; */
/*     -o-box-shadow: inset 0 1px #e5e7ed, 0 1px 0 #fcfcfc; */
/*     box-shadow: inset 0 1px #e5e7ed, 0 1px 0 #fcfcfc; */
}

.search1 input:focus {
    outline: none;
/*     border-color: #66b1ee; */
/*     -webkit-box-shadow: 0 0 2px rgba(85, 168, 236, 0.9); */
/*     -moz-box-shadow: 0 0 2px rgba(85, 168, 236, 0.9); */
/*     -ms-box-shadow: 0 0 2px rgba(85, 168, 236, 0.9); */
/*     -o-box-shadow: 0 0 2px rgba(85, 168, 236, 0.9); */
/*     box-shadow: 0 0 2px rgba(85, 168, 236, 0.9); */
}

.search1 input:focus + .results { display: inline-block }

.search1 ul{
	max-height: 169px;
	overflow-y:auto;
	overflow-x:hidden;
}

.search1 .results {
/*     display: none; */
    position: absolute;
    top: 41px;
    left: 0px;
    text-align : left;
    width:92.5%;  
    right: 44px;
    z-index: 10;
    padding: 0;
    margin-left : 40px;
    border-width: 1px;
/*     border-style: solid; */
    border-color: #cbcfe2 #c8cee7 #c4c7d7;
    border-radius: 3px;
    background-color: #fdfdfd;
    
    
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    -o-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.search1 .results li { display: block;}

.search1 .results li:first-child { margin-top: -1px }

.search1 .results li:first-child:before, .search1 .results li:first-child:after {
    display: block;
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    left: 50%;
/*     margin-left: -5px; */
    border: 5px outset transparent;
}

.search1 .results li:first-child:before {
    border-bottom: 5px solid #c4c7d7;
    top: -11px;
}

.search1 .results li:first-child:after {
    border-bottom: 5px solid #fdfdfd;
    top: -10px;
}

.search1 .results li:first-child:hover:before, .search1 .results li:first-child:hover:after { display: none }

.search1 .results li:last-child { margin-bottom: -1px }

.search1 .results a {
    display: block;
    position: relative;
    margin: 0 -1px;
    padding: 6px 40px 6px 10px;
    color: black;
    font-weight: 500;
    text-shadow: 0 1px #fff;
    border: 1px solid transparent;
    border-radius: 3px;
}

.search1 .results a span { font-weight: 200 }

.search1 .results a:before {
/*     content: ''; */
    width: 18px;
    height: 18px;
    position: absolute;
    top: 50%;
    right: 10px;
    margin-top: -9px;
/*     background: url("http://cssdeck.com/uploads/media/items/7/7BNkBj.png") 0 0 no-repeat; */
}

.search1 .results a:hover {
    text-decoration: none;
    color: #fff;
    text-shadow: 0 -1px rgba(0, 0, 0, 0.3);
    border-color: #2380dd #2179d5 #1a60aa;
    background-color: #59B671; /*#338cdf;*/
/*     background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #59aaf4), color-stop(100%, #338cdf)); */
/*     background-image: -webkit-linear-gradient(top, #59aaf4, #338cdf); */
/*     background-image: -moz-linear-gradient(top, #59aaf4, #338cdf); */
/*     background-image: -ms-linear-gradient(top, #59aaf4, #338cdf); */
/*     background-image: -o-linear-gradient(top, #59aaf4, #338cdf); */
/*     background-image: linear-gradient(top, #59aaf4, #338cdf); */
    -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.2), 0 1px rgba(0, 0, 0, 0.08);
    -moz-box-shadow: inset 0 1px rgba(255, 255, 255, 0.2), 0 1px rgba(0, 0, 0, 0.08);
    -ms-box-shadow: inset 0 1px rgba(255, 255, 255, 0.2), 0 1px rgba(0, 0, 0, 0.08);
    -o-box-shadow: inset 0 1px rgba(255, 255, 255, 0.2), 0 1px rgba(0, 0, 0, 0.08);
    box-shadow: inset 0 1px rgba(255, 255, 255, 0.2), 0 1px rgba(0, 0, 0, 0.08);
}


.bg{
	text-align : center;
	font-size: 20px;
	color : red;
}

#cropContainerHeader {
			width: 200px;
			height: 150px;
			position:relative; /* or fixed or absolute */
}

#header_main .header_main_search_input1{
	border:none;
	width:20%;
/* 	background:black; */
	box-sizing:border-box;
	border-radius:0;
	vertical-align:top;
/* 	padding:8px 0 6px; */
	font-size:16px;
	height:40px;
	background:0 0;
	color:#fff
}

.time{
	margin-top: 48px;
	margin-left: -200px;
}

.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
	position: fixed;
/* 	left: 0px; */
/* 	top: 0px; */
	width: 100%;
	height: 100%;
	z-index: 99999;
	margin-left:-100px;
 	background: center no-repeat #fff; 
}

.imageBox
{
    position: relative;
    height: 400px;
    width: 400px;
    border:1px solid #aaa;
    background: #fff;
    overflow: hidden;
    background-repeat: no-repeat;
    cursor:move;
}

.imageBox .thumbBox
{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 200px;
    height: 200px;
    margin-top: -100px;
    margin-left: -100px;
    border: 1px solid rgb(102, 102, 102);
    box-shadow: 0 0 0 1000px rgba(0, 0, 0, 0.5);
    background: none repeat scroll 0% 0% transparent;
}

.imageBox .spinner
{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    text-align: center;
    line-height: 400px;
    background: rgba(0,0,0,0.7);
}