<script> 
	var myElements = document.querySelectorAll(".admin_sidebar");
	for (var i = 0; i < myElements.length; i++) {
	    myElements[i].style.display = "block";
	}
</script>
<aside id="sidebar_main" class="admin_sidebar">
  <a type="button"class="btn btn-success "id="adminsidebarmenu">Menu</a>
        <a type="button"class="btn btn-success "id="sidebarsections"data-toggle="collapse" data-target="#collapse01">Master Data</a>
                      <div id="collapse01"  class="collapse">
                        <ul class="panel list-unstyled" style="padding:10px;margin-bottom:-1px;">
                          <a href="#/admin"><li class="colorclass">Admin Table</li></a>
                          <a href="#/partner"><li class="colorclass">Partner Table</li></a>
                        </ul>
                      </div>
                      <a type="button" class="btn btn-success" id="sidebarsections" data-toggle="collapse"data-target="#collapse02">Category / Subcategory</a>
                      <div id="collapse02"  class="collapse">
                        <ul class="panel list-unstyled" style="padding:10px;margin-bottom:-1px;">
                          <a href="#/category_data"><li class="colorclass" >Data Table</li></a>
                          <a href="#/category_queue"><li class="colorclass">Queue Table</li></a>
                             
                        </ul>
                      </div>
                      <a type="button" class="btn btn-success"id="sidebarsections" data-toggle="collapse" data-target="#collapse03">Product</a>
                      <div id="collapse03" class="collapse">
                        <ul class="panel list-unstyled"style="padding:10px;margin-bottom:-1px;">
                          <a href="#/product_data"><li class="colorclass"> Data Table </li></a>
                          <a href="#/product_queue"><li class="colorclass">Queue Table</li></a>
                                 
                        </ul>
                      </div>
                      <a type="button" class="btn btn-success"id="sidebarsections" data-toggle="collapse" data-target="#collapse04">Service</a>
                      <div id="collapse04">
                        <ul class="panel list-unstyled"style="padding:10px;margin-bottom:-1px;">
                          <a href="#/service_data"><li class="colorclass" style="color : #59D671;">Data Table </li></a>                        
                          <a href="#/service_queue"><li class="colorclass">Queue Table</li></a>
                                
                        </ul>
                      </div>
                       <a type="button" class="btn btn-success"id="sidebarsections" data-toggle="collapse" data-target="#collapse05">City / Area</a>
                      <div id="collapse05" class="collapse ">
                        <ul class="panel list-unstyled"style="padding:10px;margin-bottom:-1px;">
                          <a href="#/city_area"><li class="colorclass">Data Table </li></a>
                          <a href="#/city_queue"><li class="colorclass">Queue Table</li></a>
                                
                        </ul>
                      </div>
                        <a type="button" class="btn btn-success"id="sidebarsections" data-toggle="collapse" data-target="#collapse06">User Table</a>
                      <div id="collapse06" class="collapse ">
                        <ul class="panel list-unstyled"style="padding:10px;margin-bottom:-1px;">
                          <a href="#/user_table"><li class="colorclass">User Table </li></a>
                          <li class="colorclass">Add Table</li>
                                
                        </ul>
                      </div>     
</aside>
<div id="page_content">
        <div id="page_content_inner">
			<div class="md-card">
                <div class="md-card-content">
                    <div class="uk-grid" data-uk-grid-margin="">
            <label style="width:8%;float:left;margin-top:8px;">Search Key</label>
                    	<input type="text" class="form-control" style="width:25%;float:left;" ng-model="searchKey">
                	</div>
                	</div>
                	</div>
            <div class="md-card">
                <div class="md-card-content">
                    <div class="uk-overflow-container uk-margin-bottom">
                        <table class="uk-table uk-table-align-vertical uk-table-nowrap tablesorter tablesorter-altair">
                            <thead>
                            <tr>
                                <th><input type="checkbox" class="ts_checkbox_all"></th>
                                <th>Services</th>
                               <th class="filter-false remove sorter-false">Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="list in servicesList">
                                <td><input type="checkbox" data-md-icheck class="ts_checkbox"></td>
                                <td>{{list.service_name}}</td>
                                <td class="uk-text-nowrap">
                               <button style="margin-left:20px;margin-right:20px;background:#777;color:#fff"type="button" class="md-btn" onclick="UIkit.modal.prompt('Name:', '', function(val){ UIkit.modal.alert('Hello '+(val || 'Mr noname')+'!'); });">Edit</button>
                                   <button type="button" class="md-btn" onclick="UIkit.modal.confirm('Are you sure, Do you Want to Delete?', function(){ UIkit.modal.alert('Confirmed!'); });"style="margin-left:20px;margin-right:20px;background:#e53935;color:#fff">Delete</button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <ul class="uk-pagination ts_pager">
                        <li data-uk-tooltip title="Select Page">
                            <select class="ts_gotoPage ts_selectize"></select>
                        </li>
                        <li class="first"><a href="javascript:void(0)"><i class="uk-icon-angle-double-left"></i></a></li>
                        <li class="prev"><a href="javascript:void(0)"><i class="uk-icon-angle-left"></i></a></li>
                        <li><span class="pagedisplay"></span></li>
                        <li class="next"><a href="javascript:void(0)"><i class="uk-icon-angle-right"></i></a></li>
                        <li class="last"><a href="javascript:void(0)"><i class="uk-icon-angle-double-right"></i></a></li>
                        <li data-uk-tooltip title="Page Size">
                            <select class="pagesize ts_selectize">
                                <option value="5">5</option>
                                <option value="10">10</option>
                                <option value="25">25</option>
                                <option value="50">50</option>
                            </select>
                        </li>
                    </ul>
                </div>
            </div>

        

        </div>
    </div>
     <div class="md-fab-wrapper">
        <a class="md-fab md-fab-accent" data-uk-modal="{target:'#modal_overflow'}">
            <i class="material-icons" ng-click="addService()">&#xE145;</i>
        </a>
    </div>
    <div class="uk-width-medium-1-3">
                            
                           
                            <div id="modal_overflow" class="uk-modal">
                                <div class="uk-modal-dialog">
                                  <div class="uk-width-medium-1-1"style="margin:10px;">
                                        <h3 class="heading_a"style="font-size:17px;font-weight:bold;color:#727272">Service</h3>
                                        <input type="text" class="md-input label-fixed" ng-model="serviceName" placeholder="Service"/>
                                    </div>


                                  <div class="uk-width-medium-1-1" style="padding-top:20px;">
                                   <button type="button" class="md-btn respopsubmitbutton" ng-click="addButton()">Add</button>
                                   <button type="button" class="md-btn respopcancelbutton" ng-click="cancel()">Cancel</button>
                                </div>

                                </div>
                                
                                </div>
                            </div>