.navigationtop{
width: 100%;
z-index: 1000; 
height: 50px;
position: fixed;
margin-top:35px;
box-shadow: 0 3px 6px rgba(0, 0, 0, .16), 0 3px 6px rgba(0, 0, 0, .23);
}

.social-button1 {
  color: #474747;
  display: block;
  margin-bottom: 10px;
}
.social-button1:hover i {
  border-color:#6095f4 ;
}
.social-button1 i {
  -moz-transition: 0.4s;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  float: left;
  border-radius: 50%;
  border: 2px solid gray;
  color: gray;
  height: 30px;
  margin-right: 15px;
  vertical-align: middle;
  text-align: center;
  line-height: 27px;
  width: 30px;
  position: relative;
  top: -2px;
}
.social-button1:hover i
{
  color: #6095f4 ;
}
.btn.writereview
{
  background-color: transparent;
  border: 2px solid rgba(0, 0, 0, 0.06);
  margin-top:20px;
  width: 100%; 
  -webkit-transition: all 0.6s ease 0s;
 
}
.sidebaricon
{
  color: #6095fa;
  padding-left: 25px;
}
.togglemenu
{
  position: fixed;
  z-index: 1000;
  height: auto;
  padding-top: 3px;
}

.contactformbutton
{
  width:100%;background-color:#FEBD69;color:#222;border-bottom:1px solid #fff;text-align:center;
}

.contactformbutton:hover
{
  width:100%;background-color:#F5A744;color:#222;border-bottom:1px solid #fff;text-align:center;
}
.mobilestickyicon{
  margin-top:15px;
  background-color:#59b671;
  width: 40px;
  color:#fff; 
  
  margin-left:-10px 
}
.mobilestickyicon:hover{
 
  background-color:#4bab64;
 
}
#mobilestickymenu{
 
   background-color:red;
   color: #222;
  
    
 
}
.contactblock
{ 
 display: none;
  position: fixed;
  width: 14%;
  z-index: 1;
  top: 90px;
}
.mainfixedcontactbutton
{
height:40px;position:fixed;z-index:1000;bottom:0px;float: left;
}
.mainfixedcontactbuttonone
{
height:40px;background:#ff5a5f;float: left;
}
.mainfixedcontactbuttontwo
{
  height:40px;background:#6095f4;float: right;

}
.maincontactpopup
{
  top:70px;
}
.popupcontactsubdiv
{
  height:500px;background:#f0f0f0;
}
.contactbutton,.sendmessagebutton
{
 text-align:center;color:#fff;margin-top:-1px;padding-top:11px;
}


.item .thumb {
  width: 25%;
 float: left;
  height: 300px;
overflow: hidden; 
}

.item .thumb img {
 
    width: 475px;
    height: 300px;
    
   -moz-transform: scale(1);
  -webkit-transform: scale(1);
  transform: scale(2);
}

 .item .thumbtesting {
  width: 20%;
  cursor: pointer;
  float: left;

}
 .item .thumbtesting img {
  width: auto; 
}
.carousel-inner > .item
{
  background: none; 
}
.overlaycarsoulheader
{
  height: 600px;
}
.overlayslider
{
  margin-left: 300px;
}
.overlayslidertwo
{
  margin-left: 200px;
}
.smallimageslider
{
  background:#fff;height:175px;
}
.smallimagetop
{
  margin-top: 40px;
}
   a.popupslidernavigationexpand {
  background: none repeat scroll 0 0 #000000;
  color: #FFFFFF;
  display: block;
  font-size: 15px;
  font-weight: 400;
  height: 50px;
  margin-top: 0;
  padding: 1em 1.6em 2em;
  position: absolute;
  top: 0;
  text-decoration: none;
  text-transform: uppercase;
 
  transition: top 0.3s ease-in-out 0s;
  width: 130px;
  z-index: 12;

  transition: top 0.12s ease-in-out 0s;
  -webkit-transition: top 0.12s ease-in-out 0s;
  -moz-transition: top 0.12s ease-in-out 0s;
  -o-transition: top 0.12s ease-in-out 0s;

}
popupslidernav {
  background: #2d2f33;
  opacity: 0.96;
  display: block;
  height: 100%;
  overflow: auto;
  position: fixed;
  top: -127em;
  font-size: 15px;
 
  width: 100%;
  z-index: 2000;

  transition: top 0.12s ease-in-out 0s;
  -webkit-transition: top 0.12s ease-in-out 0s;
  -moz-transition: top 0.12s ease-in-out 0s;
  -o-transition: top 0.12s ease-in-out 0s;

}
.popupslidernav-expanded popupslidernav {
  top: 0;
}

body.popupslidernav-expanded {
  margin-left: 0em;
  transition: top 0.4s ease-in-out 0s;
  -webkit-transition: top 0.4s ease-in-out 0s;
  -moz-transition: top 0.4s ease-in-out 0s;
  -o-transition: top 0.4s ease-in-out 0s;
}

#popupslidernav-close {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 300;
  font-size: 24px;
  padding-top: 10px;
}
a.popupslidernavigationexpand:hover {
  cursor: pointer;
}

a.popupslidernavigationexpand.fixed {
  position: fixed;
}

.popupslidernav-expanded a.popupslidernavigationexpand.fixed {
    top: 20em;
}
.popupslidermenu {
  padding-top: 12px;
}

.popupslidermenu li {
  border-bottom: 1px solid #323949;
  margin-left: 20px;
  font-size: 18px;
  padding: 12px;
}

.popupslidermenu li a {
  color: #6F7D8C;
  text-decoration: none;
}

.popupslidermenu li a:hover {
  color: #FFFFFF;
  text-decoration: none;
}

.popupslidermenu li .sub-popupslidernav {
  border-bottom: 0px;
  padding: 4px;
}

.popupslidermenu a .caret {
  width: 0;
  height: 0;
  display: inline-block;
  vertical-align: top;
  border-top: 4px solid #4f5963;
  border-top: 4px solid transparent;
  border-left: 4px solid transparent;
  content: "";
    margin-top: 8px;
}

.popupslidermenu a:hover .caret {
  border-top-color: #4f5963;
}

.popupslidermenu li.open > a > .caret {
  border-top: none;
  border-bottom: 4px solid #4f5963;
  border-top: 4px solid transparent;
  border-left: 4px solid transparent;
}

.popupslidermenu li.open > a:hover > .caret {
  border-bottom-color: #4f5963;
}

.icon:before {
  font-family: 'FontAwesome';
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  text-transform: none;
  content: '\f105';
}

.popupslidermenu li > a > span.icon {
  float: top;
  margin: 0.1em 1.7em -0.1em 0;
  opacity: 0;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;

}

.popupslidermenu li > a:hover > span.icon {
  float: top;
  margin: 0.1em 0.8em -0.1em 0;
  opacity: 1;
}
.listingheadersection
{
  background:#fff;height:250px;
}
.listinglogo
{
  top:42px;margin-right: -25px;
}
.listingtitlediv
{
 top:35px;
}
.listingtitlesubdiv
{
  top: 12px;
}
.listingtitle
{
  font-size:30px;font-weight:bold
}
.listingsubtitle
{
  padding-top: 5px;
}
.writetextdiv
{
 left: -10px;
}
.writetext
{
  margin-top: -5px;
}
.totaldownloadicon
{
  padding-left: 20px;
}
.titlestaricon
{
  
  font-size: 17px;
}
.socialiconmaindiv
{
 top:10px;
}
.twittersocialicon
{
 background:#2795e9;color:#fff;
}
.facebooksocialicon
{
  background:#3b5998;color:#fff;
}
.plussocialicon
{
  background:#dd4b39;color:#fff;
}
 
.descriptionblock
{
  margin-top: 20px;
}
.claimdiv
{
  background:#fff;margin-top:20px;text-align:center;border:1px solid #f0f0f0;height:34px;padding-top:5px;
}

.reportdiv
{
  background:;margin-top:20px;text-align:center;border:1px solid #f0f0f0;height:34px;padding-top:5px;
}
#reporthover :hover
{
  background:#D6D6D6;color: #222;
}
#claimhover :hover
{
  background:#D6D6D6;color: #222;
}
.carousel-control
{
  width: 5%;
}
.overlayratingsize
{
  margin-left: 225px;margin-top:-62px;
}
.overlayratingtext
{
  margin-left: 80px;font-size: 15px;
}
.popuprating
{
  margin:-67px 155px;
}

 .popuprating.rating .stars .fa
{
  display: none;
}
.rating .stars .fa
{
  display: none;
}
.popuprating .rating > label { 
  color: #ddd; 
 float: right; 
  font-size: 25px;
}
#popupratingsize
{
  font-size: 25px;
}
@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);
fieldset, label { margin: 0; padding: 0; }

/****** Style Star Rating Widget *****/

.rating { 
  border: none;
  float: left;
}

.rating > input { display: none; } 
.rating > label:before { 
  margin: 5px;
  font-size: 1.25em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}

.rating > .half:before { 
  content: "\f089";
  position: absolute;
}

.rating > label { 
  color: #ddd; 
 float: right; 

}


.rating > input:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label { color: #59b671;  } /* hover previous stars in list */
.rating > input:checked + label:hover, /* hover current star when changing rating */
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating > input:checked ~ label:hover ~ label { color: #38B157;  } 

.ratingtext
{
  font-size:50px;margin-bottom:-12px;padding-left:5px;
}
.headerhomeicon
{
  margin-top:10px;font-size:30px;color:#fff
}

@media(max-width: 1199px){
  .smallimageslider
{
  background:#fff;height:145px;
}

.navigationtop{
	margin-top:0px;
}
.smallimagetop
{
  margin-top: 30px;
}
.overlayslider
{
  margin-left:200px;
}
.overlayslidertwo
{
  margin-left:100px;
}
.listinglogo
{
  margin-right:0px;
}
.nav-top-menu
{
  top:49px;
}
#main-menu .navbar .navbar-nav > li > a
{
  padding: 0px 17px;
}
  .titlestaricondiv
{
  margin-left: 30px;
}
.writetextdiv
{
  margin-left: 50px;text-align: center;
}
.socialiconmaindiv
{
  margin-left: 50px;width: 100%;
}
.twittersocialicon,.plussocialicon,.facebooksocialicon
{

  width: 25%;
}
.listingtitlesubdiv
{
  top: 0px;
}
}
@media(max-width: 1086px){
.nav-top-menu
{
  top:45px;
}

}
@media(max-width: 1061px){
  #main-menu .navbar .navbar-nav > li > a
{
  padding: 0px 14px;
}
.nav-top-menu
{
  top:45px;
}
}
@media(max-width: 991px){
  .textareadiv
{
  width: 100%;
}
.popupcontactsubdiv
{
  width: 600px;margin-left: 91px;
}
  .item .thumb {
  width: 50%;
  cursor: pointer;
  float: left;
}
  .smallimageslider
{
  background:#fff;height:112px;
}
.smallimagetop
{
  margin-top: 30px;
}
.overlayslider
{
  margin-left:100px;
}
.overlayslidertwo
{
  margin-left:20px;
}
.writetextdiv
{
 left: -100px;top:12px;
}
.socialiconmaindiv
{
  margin-left: 0px;width: 100%;
}
.twittersocialicon,.plussocialicon,.facebooksocialicon
{

  width: 25%;
}
.ratingtextdiv
{
  top:13px;
}
.titlestaricondiv
{
  left: -180px;top:13px;
}
.titlestaricon
{
  width: 300px;
}
.socialiconmaindiv
{
  margin-left: 5px;top:30px;
}
.totaldownloadicon
{
  margin-left: 160px;width: 300px;
}
.listingheadersection
{
  height: 350px;
}
}
@media(max-width: 877px){
  .textareadiv
{
  width: 100%;
}
.popupcontactsubdiv
{
  width: 650px;margin-left: 91px;
}

}
@media(max-width: 820px){
  .textareadiv
{
  width: 100%;
}
.popupcontactsubdiv
{
  width: 600px;margin-left: 91px;
}

}

@media(max-width: 767px){

.overlayratingtext
{
  margin:-5px 250px;font-size: 15px;
}
.popuprating
{
  margin:1px 190px;
}

.popupcontactsubdiv
{
  width: 650px;margin-left: 47px;
}
  .item .thumb {
  width: 100%;
  cursor: pointer;
  float: left;
}
.overlayslider
{
  margin-left:80px;
}
.overlayslidertwo
{
  margin-left:0px;
}
.smallimageslider
{
  background:#fff;
}
.listinglogo
{
  top:40px; text-align:center;
}
.listingtitlediv
{
  text-align:center;margin-top:20px;
}
.listingsubtitle
{

  margin-bottom: 10px;
}
.listingheadersection
{
  height: 510px;
}

.totaldownloadicon
{
 margin-top:-30px ;
 margin-left:55px;
}

.socialiconmaindiv
{
  margin:-5px 5px;
}
.twittersocialicon,.facebooksocialicon,.plussocialicon
{
  width: 25%;font-size: 16px;
}
.ratingtext
{
  font-size:50px;padding-left:180px;
}
.ratingtextdiv
{
  margin-top:15px;margin-right: -10px;
}
.writetextdiv
{
 left: 150px;margin-top:5px;
}
.titlestaricondiv
{
  margin-left: 10px;top:13px;
}
.titlestaricon
{
  width: 300px;padding-top: 13px;
}
}

@media(max-width: 743px){

.popupcontactsubdiv
{
  width: 650px;margin-left: 37px;
}
.listingheadersection
{
  height: 510px;
}

.totaldownloadicon
{
 margin-top:-30px ;
 margin-left:60px;
}
.socialiconmaindiv
{
  margin:-5px 5px;
}
.twittersocialicon,.facebooksocialicon,.plussocialicon
{
  width: 25%;font-size: 16px;
}
.ratingtext
{
  font-size:50px;padding-left:180px;
}
.ratingtextdiv
{
  margin-top:15px;margin-right: -10px;
}
.writetextdiv
{
 left: 130px;margin-top:5px;
}
.titlestaricondiv
{
  margin-left: 10px;top:13px;
}
.titlestaricon
{
  width: 300px;padding-top: 13px;
}
}
@media(max-width: 690px){

.smallimageslider
{
  background:#fff;height: 100px;
}
.smallimagetop
{
  margin-top: 20px;
}
.listingheadersection
{
  height: 520px;
}

.totaldownloadicon
{
 margin-top:-30px ;
 margin-left:60px;
}
.socialiconmaindiv
{
  margin:-5px 5px;
}
.twittersocialicon,.facebooksocialicon,.plussocialicon
{
  width: 25%;font-size: 16px;
}
.ratingtext
{
  font-size:50px;padding-left:180px;
}
.ratingtextdiv
{
  margin-top:15px;margin-right: -10px;
}
.writetextdiv
{
 left: 120px;margin-top:5px;
}
.titlestaricondiv
{
  margin-left: 0px;top:13px;
}
.titlestaricon
{
  width: 300px;padding-top: 13px;
}
}
@media(max-width: 640px){

.popupcontactsubdiv
{
  width: 500px;margin-left: 47px;
}
.textareadiv
{
  width: 100%;
}
.overlayslider
{
  margin-left:0px;
}
.smallimageslider
{
  background:#fff;height: 90px;
}
.smallimagetop
{
  margin-top: 20px;
}
.overlayratingtext
{
  margin:-5px 190px;font-size: 15px;
}
.popuprating
{
  margin:1px 140px;
}
.listingheadersection
{
  height: 520px;
}

.totaldownloadicon
{
 margin-top:-30px ;
 margin-left:60px;
}
.socialiconmaindiv
{
  margin:-5px -5px;
}
.twittersocialicon,.facebooksocialicon,.plussocialicon
{
  width: 25%;font-size: 16px;
}
.ratingtext
{
  font-size:50px;padding-left:110px;
}
.ratingtextdiv
{
  margin-top:15px;margin-right: -5px;
}
.writetextdiv
{
  left: 100px;margin-top:5px;
}
.titlestaricondiv
{
  margin-left: 0px;top:13px;
}
.titlestaricon
{
  width: 300px;padding-top: 13px;
}
}
@media(max-width: 600px){

.popupcontactsubdiv
{
  width: 450px;margin-left: 47px;
}
.textareadiv
{
  width: 100%;
}
.overlaycarsoulheader
{
  height: 500px;
}
.smallimageslider
{
  background:#fff;height: 85px;
}
.smallimagetop
{
  margin-top: 15px;
}
.overlayratingtext
{
  margin:-5px 170px;font-size: 15px;
}
.popuprating
{
  margin:1px 120px;
}
.listingheadersection
{
  height: 520px;
}

.totaldownloadicon
{
 margin-top:-30px ;
 margin-left:60px;
}
.socialiconmaindiv
{
  margin:-5px -5px;
}
.twittersocialicon,.facebooksocialicon,.plussocialicon
{
  width: 25%;font-size: 16px;
}
.ratingtext
{
  font-size:50px;padding-left:90px;
}
.ratingtextdiv
{
  margin-top:15px;margin-right: -5px;
}
.writetextdiv
{
 left: 90px;margin-top:5px;
}
.titlestaricondiv
{
  margin-left: 0px;top:13px;
}
.titlestaricon
{
  width: 300px;padding-top: 13px;
}
}
@media(max-width: 560px){

.popupcontactsubdiv
{
  width: 400px;margin-left: 47px;
}
.textareadiv
{
  width: 100%;
}
.smallimageslider
{
  background:#fff;height: 75px;
}
.smallimagetop
{
  margin-top: 15px;
}
.overlayratingtext
{
  margin:-5px 150px;font-size: 15px;
}
.popuprating
{
  margin:1px 100px;
}
.listingheadersection
{
  height: 520px;
}

.totaldownloadicon
{
 margin-top:-30px ;
 margin-left:60px;
}
.socialiconmaindiv
{
  margin:-5px -5px;
}
.twittersocialicon,.facebooksocialicon,.plussocialicon
{
  width: 25%;font-size: 16px;
}
.ratingtext
{
  font-size:50px;padding-left:90px;
}
.ratingtextdiv
{
  margin-top:15px;margin-right: -5px;
}
.writetextdiv
{
 left: 80px;margin-top:5px;
}
.titlestaricondiv
{
  margin-left: 0px;top:13px;
}
.titlestaricon
{
  width: 300px;padding-top: 13px;
}
}
@media(max-width: 507px){
.overlayratingtext
{
  margin:-5px 120px;font-size: 15px;
}
.popuprating
{
  margin:1px 60px;
}

.listingheadersection
{
  height: 520px;
}

.totaldownloadicon
{
 margin-top:-30px ;
 margin-left:60px;
}
.socialiconmaindiv
{
  margin:-5px -5px;
}
.twittersocialicon,.facebooksocialicon,.plussocialicon
{
  width: 25%;font-size: 16px;
}
.ratingtext
{
  font-size:50px;padding-left:60px;
}
.ratingtextdiv
{
  margin-top:15px;margin-right: -1px;
}
.writetextdiv
{
  left: 60px;margin-top:5px;
}
.titlestaricondiv
{
  margin-left: 0px;top:13px;
}
.titlestaricon
{
  width: 300px;padding-top: 13px;
}
}
@media(max-width: 491px){

.popupcontactsubdiv
{
  width: 375px;margin-left: 37px;
}
.textareadiv
{
  width: 100%;
}
.smallimageslider
{
  background:#fff;height: 74px;
}
.smallimagetop
{
  margin-top: 15px;
}
.overlaycarsoulheader
{
  height: 400px;
}
.mainoverlayslider
{
  margin-top: 180px;
}
.listingheadersection
{
  height: 520px;
}

.totaldownloadicon
{
 margin-top:-30px ;
 margin-left:60px;
}
.socialiconmaindiv
{
  margin:-5px -5px;
}
.twittersocialicon,.facebooksocialicon,.plussocialicon
{
  width: 25%;font-size: 16px;
}
.ratingtext
{
  font-size:50px;padding-left:40px;
}
.ratingtextdiv
{
  margin-top:15px;margin-right: -1px;
}
.writetextdiv
{
  left: 60px;margin-top:5px;
}
.titlestaricondiv
{
  margin-left: 0px;top:13px;
}
.titlestaricon
{
  width: 300px;padding-top: 13px;
}
}
@media(max-width: 460px){

.popupcontactsubdiv
{
  width: 335px;margin-left: 37px;
}
.textareadiv
{
  width: 100%;
}
.smallimageslider
{
  background:#fff;height: 64px;
}
.smallimagetop
{
  margin-top: 15px;
}
.listingheadersection
{
  height: 520px;
}

.totaldownloadicon
{
 margin-top:-30px ;
 margin-left:60px;
}
.socialiconmaindiv
{
  margin:-5px -5px;
}
.twittersocialicon,.facebooksocialicon,.plussocialicon
{
  width: 25%;font-size: 16px;
}
.ratingtext
{
  font-size:50px;padding-left:40px;
}
.ratingtextdiv
{
  margin-top:15px;margin-right: -1px;
}
.writetextdiv
{
 left: 50px;margin-top:5px;
}
.titlestaricondiv
{
  margin-left: 0px;top:13px;
}
.titlestaricon
{
  width: 300px;padding-top: 13px;
}
}
@media(max-width: 426px){
  .overlayratingtext
{
  margin:-5px 100px;font-size: 15px;margin-bottom: -20px;
}
.popuprating
{
  margin:1px 35px;
}
.listingheadersection
{
  height: 520px;
}

.totaldownloadicon
{
 margin-top:-30px ;
 margin-left:60px;
}
.socialiconmaindiv
{
  margin:-5px -5px;
}
.twittersocialicon,.facebooksocialicon,.plussocialicon
{
  width: 25%;font-size: 16px;
}
.ratingtext
{
  font-size:50px;padding-left:30px;
}
.ratingtextdiv
{
  margin-top:15px;margin-right: -1px;
}
.writetextdiv
{
  left: 40px;margin-top:5px;
}
.titlestaricondiv
{
  margin-left: 0px;top:13px;
}
.titlestaricon
{
  width: 300px;padding-top: 13px;
}

}
@media(max-width: 414px){

.popupcontactsubdiv
{
  width: 295px;margin-left: 37px;
}
.textareadiv
{
  width: 100%;
}
.listingheadersection
{
  height: 550px;
}


}
@media (max-width: 398px){
  .contactbutton,.sendmessagebutton
{
 font-size: 14px;
}
.listingheadersection
{
  height: 550px;
}
.totaldownloadicon
{
 margin-top:-30px ;
 margin-left:60px;
}
.socialiconmaindiv
{
  margin:-5px -5px;
}
.twittersocialicon,.facebooksocialicon,.plussocialicon
{
  width: 25%;font-size: 16px;
}
.ratingtext
{
  font-size:50px;padding-left:10px;
}
.ratingtextdiv
{
  margin-top:15px;margin-right: -1px;
}
.writetextdiv
{
  left: 34px;margin-top:5px;
}
.titlestaricondiv
{
  margin-left: -10px;top:13px;
}
.titlestaricon
{
  width: 300px;padding-top: 13px;
}
}

@media(max-width: 375px){

.popupcontactsubdiv
{
  width: 255px;margin-left: 37px;
}
.textareadiv
{
  width: 100%;
}
.smallimageslider
{
  background:#fff;height: 55px;
}
.smallimagetop
{
  margin-top: 12px;
}

     .overlayratingtext
{
  margin:-5px 90px;font-size: 15px;margin-bottom: -20px;
}
.popuprating
{
  margin:1px 20px;
}
.listingheadersection
{
  height: 550px;
}

.totaldownloadicon
{
 margin-top:-30px ;
 margin-left:60px;
}
.socialiconmaindiv
{
  margin:-5px -5px;
}
.twittersocialicon,.facebooksocialicon,.plussocialicon
{
  width: 25%;font-size: 16px;
}
.ratingtext
{
  font-size:50px;padding-left:10px;
}
.ratingtextdiv
{
  margin-top:15px;margin-right: -1px;
}
.writetextdiv
{
  left: 30px;margin-top:5px;
}
.titlestaricondiv
{
  margin-left: 0px;top:13px;
}
.titlestaricon
{
  width: 300px;padding-top: 13px;
}
}
@media (max-width: 356px){
  .contactbutton,.sendmessagebutton
{
 font-size: 13px;
}
.smallimageslider
{
  background:#fff;height: 50px;
}
.smallimagetop
{
  margin-top: 12px;
}
.overlaycarsoulheader
{
  height: 300px;
}
   .overlayratingtext
{
  margin:-5px 70px;font-size: 15px;margin-bottom: -20px;
}
.popuprating
{
  margin:1px 10px;
}
.listingheadersection
{
  height: 550px;
}
.totaldownloadicon
{
 margin-top:-30px ;
 margin-left:60px;
}
.socialiconmaindiv
{
  margin:-5px -5px;
}
.twittersocialicon,.facebooksocialicon,.plussocialicon
{
  width: 25%;font-size: 16px;
}
.ratingtext
{
  font-size:50px;padding-left:10px;
}
.ratingtextdiv
{
  margin-top:15px;margin-right: -1px;
}
.writetextdiv
{
 left: 10px;margin-top:5px;width: 180px;
}
.titlestaricondiv
{
  margin-left: 0px;top:13px;
}
.titlestaricon
{
  width: 300px;padding-top: 13px;
}
}
@media (max-width: 343px){
 


.listingheadersection
{
  height: 550px;
}

.totaldownloadicon
{
 margin-top:-30px ;
 margin-left:60px;
}
.socialiconmaindiv
{
  margin:-5px -5px;
}
.twittersocialicon,.facebooksocialicon,.plussocialicon
{
  width: 25%;font-size: 16px;
}
.ratingtext
{
  font-size:45px;padding-left:10px;
}
.ratingtextdiv
{
  margin-top:15px;margin-right: -1px;
}
.writetextdiv
{
  left: 10px;margin-top:5px;width: 180px;
}
.titlestaricondiv
{
  margin-left: -21px;top:13px;
}
.titlestaricon
{
  width: 300px;padding-top: 13px;font-size: 14px;
}
  }
@media(max-width: 335px){

.popupcontactsubdiv
{
  width: 215px;margin-left: 37px;
}
.textareadiv
{
  width: 100%;
}
 .contactbutton,.sendmessagebutton
{
 font-size: 12px;
}
.smallimageslider
{
  background:#fff;height: 45px;
}
.smallimagetop
{
  margin-top: 12px;
}
.overlaycarsoulheader
{
  height: 300px;
}
.mainoverlayslider
{
  margin-top: 180px;
}
   .overlayratingtext
{
  margin:-5px 70px;font-size: 15px;margin-bottom: -20px;
}
.popuprating
{
  margin:1px 5px;
}

}
@media(max-width: 320px){
.listingheadersection
{
  height: 550px;
}

.totaldownloadicon
{
 margin-top:-30px ;
 margin-left:60px;
}
.socialiconmaindiv
{
  margin:-5px -5px;
}
.twittersocialicon,.facebooksocialicon,.plussocialicon
{
  width: 25%;font-size: 16px;
}
.ratingtext
{
  font-size:45px;padding-left:10px;
}
.ratingtextdiv
{
  margin-top:15px;margin-right: -1px;
}
.writetextdiv
{
  left: 7px;margin-top:5px;width: 170px;
}
.titlestaricondiv
{
  margin-left: -18px;top:13px;
}
.titlestaricon
{
  width: 300px;padding-top: 13px;font-size: 14px;
}
}
@media(max-width: 306px){
.listingheadersection
{
  height: 550px;
}

.totaldownloadicon
{
 margin-top:-30px ;
 margin-left:60px;
}

.socialiconmaindiv
{
  margin:-5px -5px;
}
.twittersocialicon,.facebooksocialicon,.plussocialicon
{
  width: 25%;font-size: 16px;
}
.ratingtext
{
  font-size:45px;padding-left:10px;
}
.ratingtextdiv
{
  margin-top:15px;margin-right: -1px;
}
.writetextdiv
{
  left: 10px;margin-top:5px;width: 180px;
}
.titlestaricondiv
{
  margin-left: -12px;top:13px;
}
.titlestaricon
{
  width: 300px;padding-top: 13px;font-size: 14px;
}
}
@media(max-width: 275px){

.popupcontactsubdiv
{
  width: 195px;margin-left: 37px;
}
.textareadiv
{
  width: 100%;
}
  .overlayratingsize
{
  margin-left: 25px;
}
.overlayratingtext
{
  margin-left: 60px;
}
.writetextdiv
{
  left: -19px;margin-top:5px;width: 170px;
}
}
@media(max-width: 1423px){
  .contactblock
{ 
 display: none;
  position: fixed;
  width: 16%;
  z-index: 1;
  top: 90px;
}
}

@media(max-width: 1245px){
  .contactblock
{ 
 display: none;
  position: fixed;
  width: 18%;
  z-index: 1;
  top: 90px;
}
}
@media(max-width: 1107px){
  .contactblock
{ 
 display: none;
  position: fixed;
  width: 21%;
  z-index: 1;
  top: 90px;
}
}
  @media(max-width: 768px){
    
.header
{
  position:fixed;
  margin-bottom: 0px;
}

.header .wrapper{

  padding: 0px 10px 0px
}
.homepagelocation{
 
  margin-left: 0px;
 }
 .sub-header
 {
  top:0px;
 }
 
}